.profile{
    border-radius: 50%;
}
.navigation{
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}
.home{
    background-color: #213555;
}
.image1{
    object-fit: fill;
}
body{
    background-color: #F0F0F0;
}